@import '@shared/_colors', '@shared/_mixins';

.Card {
  background-color: $white;
  border-radius: 5px;
  + .Card {
    margin-top: 15px;
  }
  .Head {
    font-size: 1.142rem;
    padding: 15px 30px;
    font-weight: 500;
    border-bottom: 1px solid $silver;
  }
  .Body {
    padding: 20px 30px;
  }
}
